[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/osboxes/Desktop/userfiles.desktop]
row=0
col=2

[/home/osboxes/Desktop/network.desktop]
row=1
col=1

[/home/osboxes/Desktop/settings.desktop]
row=0
col=3

[/home/osboxes/Desktop/helpmanual.desktop]
row=1
col=0

[/home/osboxes/Desktop/computer.desktop]
row=1
col=2

[2022-01-13-19-20-26-52]
row=0
col=0

[Trash]
row=0
col=1

